.App {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.panel {
  width: 300px;
}
.tool {
  width: 400px;
}
.view {
  flex: 1;
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
}

.panel-item {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #555;
    cursor: pointer;
  }
  div {
    margin-bottom: 20px;
  }
}

.drag-item{
 &-active{
  border: 1px solid red;
 }
}
