.App {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.panel {
  width: 200px;
}
.tool {
  width: 500px;
}
@media (min-width: 1440px) and (max-width: 1960px) {
  .tool {
    width: 800px;
  }
}
.view {
  flex: 1;
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
}

.panel-item {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #555;
    cursor: pointer;
  }
  div {
    margin-bottom: 20px;
  }
}

.drag-item {
  padding: 20px;
  &-active {
    padding: 20px;
    border: 1px solid red;
  }
}
